@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 16px;
}

/* shared common style */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.btn-orange {
    border-radius: 4px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    padding: 8px 12px;
    margin-bottom: 10px;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 30px 60px;
}

header img {
    width: 100%;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: rgb(19, 19, 19);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0%;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
}

nav ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0%;
    text-align: center;
}

/* banner style  */
.banner{
    margin-top: 50px;
}
.banner-content {
    max-width: 600px;
    margin:0 auto;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    line-height: 50px;
   
}

.banner-description {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;   
    margin-bottom: 10px; 
}


/* responsive style  */
@media screen and (max-width:776px){
    /* responsive header */
    header{
        padding: 20px 30px ;
    }    

    /* responsive nav */
    nav {
        flex-direction: column;
    }
    .nav-title {        
        font-size: 1.75rem;      
    }
    nav ul {        
        gap: 0.4rem;
    }
    nav a {        
        font-size: 1rem;        
        line-height: 1rem;
        
    }

    /* responsive banner  */
    .banner{
        margin-top: 20px;
    }
    .banner-content {                        
        margin-bottom: 10px;
    }
    
    .banner-title {        
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;       
    }
    
    .banner-description {        
        font-size: 1rem;
        margin: 10px 0px; 
    }

    /* responsive common style */
    .btn-orange {        
        font-size: 0.90rem;
        font-weight: 400;
        line-height: 1rem;        
        padding: 6px 10px;        
    }

}
/* nav style */
/* 
nav,  .banner {
    max-width: 1200px;
    margin: 0 auto;
}
nav {
display: flex;
justify-content: space-between;
align-items: center;

}
nav ul {
    display: flex;
    gap: 10px;
}
nav ul li{
    list-style-type: none;
}
nav a {
    text-decoration: none;    
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
nav h2 {
    color: rgb(19, 19, 19);    
    font-size: 32px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}