@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 16px;
}

/* shared common style */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.btn-orange {
    border-radius: 4px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    padding: 8px 12px;
    margin-bottom: 10px;
}

.text-gray {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.text-black {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.tex-orange {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 30px 60px;
}

header img {
    width: 100%;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: rgb(19, 19, 19);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0%;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
}

nav ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0%;
    text-align: center;
}

/* banner style  */
.banner {
    margin-top: 50px;
}

.banner-content {
    max-width: 900px;
    margin: 0 auto;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 20px;

}

.banner-description {
    color: rgb(114, 114, 114);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

/* main style  */
main {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 0px;
}

/* team style */
.team-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 100px;
}

.team-container div {
    flex: 1;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.team-img div {
    width: 100%;
}

.team-img>div>img {
    width: 100%;
}

.team-content {
    padding: 0 30px;
}

.team-title {}

.team-description {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

/* feature style */
.feature-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

.feature,
.feature-experience {
    flex: 1;
}

.feature-title {
    color: rgb(19, 19, 19);
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
}

.feature-description {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.feature-item-container {
    padding: 0 30px;
}

.feature-item {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 20px 30px;
    width: 60%;
}


.item-title {
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}

.item-description {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.feature-experience {
    padding-left: 50px;
}

.feature-experience img {
    height: 70%;
}

.experience-badge {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 200px;
    color: white;
    text-align: center;
    padding: 30px;
    position: relative;
    bottom: 70px;
    left: -50px;
}

/* facts style */
.facts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fact-content {
    margin-bottom: 10px;
}

.facts div {
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.fact-title {
    color: rgb(19, 19, 19);
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
}

.fact-description {
    color: rgb(114, 114, 114);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}


.facts-item-title {
    color: rgb(66, 66, 66);
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0%;
    margin: 5px 0px;
}

.facts-item-description {
    color: rgb(114, 114, 114);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}

/* support style */
.support-container {
    margin-top: 20px;
}

.support-content {
    text-align: center;
}

.support-title {
    color: rgb(19, 19, 19);
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
}

.support-description {
    color: rgb(114, 114, 114);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.support-sponsor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* footer style */
footer {
    border-radius: 8px;
    background: rgb(255, 244, 231);
    height: 60px;
    text-align: center;
    line-height: 60px;
}




/*----------------------------- 
    responsive style  
----------------------------*/
@media screen and (max-width:767px) {

    /*------------------------ 
        responsive header 
    ------------------------*/
    header {
        padding: 20px 30px;
    }

    /* responsive nav */
    nav {
        flex-direction: column;
    }

    .nav-title {
        font-size: 1.75rem;
    }

    nav ul {
        gap: 0.4rem;
    }

    nav a {
        font-size: 1rem;
        line-height: 1rem;

    }

    /* responsive banner  */
    .banner {
        margin-top: 20px;
    }

    .banner-content {
        margin-bottom: 10px;
    }

    .banner-title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
    }

    .banner-description {
        font-size: 1rem;
        margin: 10px 0px;
    }

    /* responsive common style */
    .btn-orange {
        font-size: 0.90rem;
        font-weight: 400;
        line-height: 1rem;
        padding: 6px 10px;
    }


    /*------------------------
        responsive team 
    -----------------------*/
    .team-container {
        flex-direction: column-reverse;
        padding: 0 10px;
    }

    .team-container>div {
        width: 100%;
    }

    .team-img {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .team-img div {
        width: 100%;
    }

    .team-content {
        padding: 0 30px;
        text-align: center;
    }

    .team-description {
        margin-bottom: 10px;
    }

    /*------------------------
        responsive feature 
    -----------------------*/
    .feature-container {
        flex-direction: column;
        align-items: flex-start;
    }


    .feature,
    .feature-experience {
        max-width: 90%;
    }

    .feature-item {
        padding: 20px;
        width: 90%;
    }

    .feature-experience img {
        max-width: 90%;
        padding-left: 10px;
    }

    .experience-badge {
        width: 150px;
        padding: 10px;
        position: relative;
        bottom: 50px;
        left: -50px;
    }

    /*------------------------ 
        responsive fact 
    ------------------------*/

    .facts {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .facts div {
        width: 80%;
    }

    /*------------------------
        responsive sponsor 
    -----------------------*/
    .support-sponsor { 
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}

@media screen and (min-width:768px) and (max-width:992px) {

    /*------------------------ 
        responsive header 
    ------------------------*/
    header {
        padding: 25px 60px;
    }

    /* responsive nav */
    nav {
        flex-direction: column;
    }

    .nav-title {
        font-size: 2rem;
    }

    nav ul {
        gap: 1rem;
    }

    nav a {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }

    /* responsive banner  */
    .banner {
        margin-top: 30px;
    }

    .banner-content {
        margin-bottom: 10px;
    }

    .banner-title {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .banner-description {
        font-size: 1.3rem;
        margin: 10px 0px;
    }

    /* responsive common style */
    .btn-orange {
        font-size: 1rem;
        padding: 6px 10px;
    }

    /*------------------------
        responsive team 
    -----------------------*/

}